/*
 * Single post styles
 */

.typology-cover-single {
  .meta-item {
    font-size: 1.6rem;
    &:after {
      content: "·";
    }
  }
}

.bigfoot-footnote__button {
  height: auto;
  min-width: auto;
}

.entry-content {
  a {
    border-bottom: none;
    padding-bottom: 0;
    transition: none;
    @include linkUnderlines(rgb(249, 249, 249), $color-lavender);
    &:hover { border-bottom: none; }
  }

  p {
    line-height: 1.7;
    margin-bottom: 3rem;
    & + ul {
      margin-top: -2rem;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .footnotes {
    font-size: 85%;
    hr {
      margin-bottom: 3rem;
    }
    .footnote {
      margin-left: -1rem;
      p {
        padding-left: 1rem;
        margin-bottom: 1rem;
      }
    }
    // Cancel out the link underline rules
    .footnote-return {
      text-shadow: none;
      background-image: none;
      margin-left: 0.5rem;
    }
  }
}

.featured-image-overlay {
  .media-credit {
    display: none;
  }
}

.typology-section {
  .section-head {
    &:first-child {
      margin-top: 0;
    }
    margin-bottom: 4rem;
  }
}
